# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Misc
.DS_Store
.env
.env.local
.env.*.local
*.log
*.swp
*.swo

# IDE
.vscode/
.idea/
*.iml

# Testing
coverage/
.nyc_output/

# Netlify
.netlify/
netlify-cli-auth
.env.production
.env.local
